html, body {
	font-family: 'Arial';
	font-size: 12px;
	color: #404040;
	background-color: #eee;
}

.container {
	width: 400px;
	position: relative;
}

.status-box {
	border-radius: 3px;
	width: 100%;
}

.button-group {
	height: 30px;
	text-align: center;
}

.counter {
	display: inline;
	position: absolute;
	right: 50px;
	width: 50px;
	text-align: center;
}

.button {
	position: absolute;
	right: 0px;
	box-sizing: border-box;
	width: 50px;
	border: 1px solid black;
	border-radius: 3px;
	background-color: #3b5998;
	text-align: center;
	color: white;
	text-decoration: none;
	padding: 5px;
}

.disabled {
	background-color: #8b9dc3;
	color: #eee;
}

.posts {
	list-style: none;
	padding-left: 0;
	width: 100%;
}

.posts li {
	background-color: #fff;
	border: 1px solid #d8d8d8;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	word-wrap: break-word;
}